[Unit]
Description=InfluxDB Service

[Service]
ExecStart=/usr/bin/influxd
NotifyAccess=main
Restart=on-failure
LimitNPROC=1
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=default.target
